*{
    margin: 0;
    padding: 0;
}
body {
    background: #222;
    color: #EEE;
    margin: 15px;
}

div#a {
    width: 50%;
    background: #555;
    float: left;
}
div#b {
    width: 50%;
    background: #DDD;
    float: left;
}
/* footer */
#footer {
    position: absolute;
    bottom: 0;
    padding: 0 0 20px;
    width: 90%;
    margin: 0 5%;
    float: left;
}

#footer hr {
    border: none;
    height: 10px;
    /* Set the hr color */
    color: #EEE; /* old IE */
    background: -webkit-linear-gradient(#EEE, #444); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#EEE, #444); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#EEE, #444); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#EEE, #444); /* Standard syntax */
    border-radius: 10px;
}

.nav {
    width: 30%;
    margin: auto;
    font-size: 200%;
}

.nav ul {
    padding: 0;
    list-style: none;
    width: 100%;
    text-align: center;
}

.nav ul li {
    display: inline-block;
    
}

.nav a:link, .nav a:visited {
    color: #EEE;
    text-decoration: none;
}

.nav a:hover {
    color: #00A;
}

.nav a.fa {
    margin: 5px 50%;
}