.tree, .tree ul {
    background: #393939;
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.tree li {
    min-height: 30px;
    max-width: 375px;
    background: #393939;
    padding: 3px 0 3px 10px;
}

.tree ul li {
    display: block;
    background: #2B2B2B;
    border-bottom: solid #393939;
}

.tree ul li:last-child {
    border-bottom: none;
    margin-bottom: -3px;
}

.tree li:hover ul li {
    display: block;
}

.tree ul li li {
    background: #393939;
    border-bottom: solid #2B2B2B;
    font-size: 100%;
}

.tree ul li li:last-child {
    border-bottom: none;
}

.panel-body {
    background: #393939;
}
